<app-class-form></app-class-form>


<h1 align="center">angular practice</h1>
<!-- <table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Component Description</th>
            <th>Component Done</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Buy Flowers</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Get Shoes</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Collect Tickets</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Call Joe</td>
            <td>No</td>
        </tr>
    </tbody>
</table> -->